* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}


.top-container {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 16px;
}

.links {
    align-items: center;
}

.logo img {
   width: 250px;
   height: 45px;
}

.first-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    background-color: #1F2937;
    color: white;
    height: 200px;
    padding: 20px;
}

.main h1 {
    font-size: 48px;
}

.main p {
    font-size: 18px;
}

.main button {
    background-color: #3882F6;
    border-color: white;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-weight: bold;
    padding: 6px;
    width: 100px;
    margin: 10px 0;
}

.first-page img {
    width: 300px;
    height: auto;
}

.random {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.second-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 200px;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.info img {
    width: 150px;
    height: 150px;
}

.info p {
    text-align: justify;
}

.second-page img {
    border: 1px solid blue;
    margin: 12px;
}

.third-page {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    margin-top: 20px;
}

.third-page p {
    width: 600px;
}

.thor {
    text-align: end;
}

.fourth-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    margin: 20px;
    background-color: #3882F6;
    padding: 20px;
    flex: auto;
    border-radius: 10px;
    color: white;
}

.square > p {
    font-weight: bold;
    font-size: 18px;
}

.butt {
    display: flex;
    justify-content: space-between;
}

.butt button {
    background-color: #3882F6;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    color: white;
    font-weight: bold;
    padding: 6px;
    width: 100px;
}

.bot-footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}