* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 16px;
}

.first-page {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #1F2937;
    color: white;
}