* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}


.top-container {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 16px;
}

.logo img {
   width: 250px;
   height: 45px;
}

.first-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    background-color: #1F2937;
    color: white;
    height: 200px;
}

.random {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.second-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 200px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info img {
    width: 150px;
    height: 150px;
}

.second-page img {
    border: 1px solid blue;
}

.third-page {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.third-page p {
    width: 600px;
}

.thor {
    text-align: end;
}

.fourth-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    margin: 20px;
    background-color: #3882F6;
    padding: 20px;
    flex: auto;
}

.butt {
    display: flex;
    justify-content: space-between;
}

.bot-footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}